Repository Unvares/baltic-persepctives-ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chatbot-img, chatbot-rag-img, langserve-img, frontend-img

chatbot-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd chatbot
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/chatbot:latest .
  - docker push $CI_REGISTRY_IMAGE/chatbot:latest

chatbot-rag-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd chatbot-rag
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --build-arg EMBEDDING_EP=$EMBEDDING_EP -t $CI_REGISTRY_IMAGE/chatbot-rag:latest .
  ...

langserve-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd backend
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY -t $CI_REGISTRY_IMAGE/langserve:latest .
  - docker push $CI_REGISTRY_IMAGE/langserve:latest

frontend-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd project
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --build-arg EMBEDDING_EP=$EMBEDDING_EP -t $CI_REGISTRY_IMAGE/frontend:latest .
  - docker push $CI_REGISTRY_IMAGE/frontend:latest

Deployment Frontend
  .gitlab-ci.yml
Due: none

Fix dev
  project/components/Chatbot.vue
Due: frontend-img

Deployment Frontend
  .gitlab-ci.yml
  deploy/frontend-dep+svc.yaml
  deploy/project-ing.yaml
  project/Dockerfile
Due: frontend-img

make them backends work
  project/components/Chatbot.vue
  project/server/AiManager.ts
  project/server/api/AiHandler.ts
Due: frontend-img

Add cors
  backend/api.py
Due: langserve-img

Updated the chain used in api routing.
  backend/api.py
Due: langserve-img

Revert removing history storing.
  backend/api.py
Due: langserve-img

Update file project-ing.yaml
  deploy/project-ing.yaml
Due: none

Add langchain integration
  project/components/Chatbot.vue
  project/composables/useLangChain.ts
  project/package-lock.json
  project/package.json
  project/public/representants/denmark-representant.webp
  project/public/representants/estonia-representant.webp
  project/public/representants/finland-representant.webp
  project/public/representants/germany-representant.webp
  project/public/representants/latvia-representant.webp
  project/public/representants/lithuania-representant.webp
  project/public/representants/poland-representant.webp
  project/stores/chatbotStore.ts
  project/types.ts
Due: frontend-img

Attach chat history
  project/components/Chatbot.vue
  project/composables/useLangChain.ts
  project/stores/chatbotStore.ts
Due: frontend-img

Deployment Frontend
  deploy/frontend-dep+svc.yaml
Due: none

Make personas creation more streamline
  backend/api.py
  backend/prompts.py
Due: langserve-img

Adding chat message history within langserve.
  backend/api.py
  backend/requirements.txt
Due: langserve-img

Fixed chat history input id
  backend/api.py
Due: langserve-img

Load country representants
  project/auxillary/representants.ts
  project/components/Chatbot.vue
  project/public/representants/denmark-representant.webp
  project/public/representants/estonia-representant.webp
  project/public/representants/finland-representant.webp
  project/public/representants/germany-representant.webp
  project/public/representants/iceland-representant.webp
  project/public/representants/latvia-representant.webp
  project/public/representants/lithuania-representant.webp
  project/public/representants/norway-representant.webp
  project/public/representants/poland-representant.webp
  project/public/representants/russia-representant.webp
  project/public/representants/sweden-representant.webp
Due: frontend-img

Fixed errors
  backend/prompts.py
Due: langserve-img

fix: mobile view
  project/components/Chatbot.vue
Due: frontend-img

fix ui issues
  project/components/Chatbot.vue
Due: frontend-img

Add user_id cookie
  project/composables/useLangChain.ts
  project/package-lock.json
  project/package.json
Due: frontend-img

fix message container
  project/components/Chatbot.vue
Due: frontend-img

Changed structure and tried adding prop. langchain config
  backend/Dockerfile
  backend/api.py
  backend/chat_histories/textuser/4d0243f4-698c-445e-9ca0-5599bb8767f8.json
  backend/chat_histories/textuser/61f2162e-1599-404b-88af-35898693837c.json
  backend/chat_histories/textuser/90e4989d-b4df-48d8-a2cc-65cd6d942518.json
  backend/chat_histories/textuser/ac47c4b5-af9d-4d2d-acf9-b59222564fbb.json
  backend/chat_histories/textuser/bb6db56b-a0ec-430b-b1b2-5f9b1a50b407.json
  backend/chat_histories/textuser/d60c7c3b-ff49-4d73-a31c-4332d5fd09f6.json
  backend/chat_histories/textuser/e7cae374-caca-4254-bd09-fe4dd97de23d.json
  backend/chat_histories/textuser/fb0f91e2-641b-4335-bfbb-3b6313907490.json
  backend/chat_histories/textuser/fc729e1b-01ad-4b26-be8e-dcbe6158fb5a.json
  backend/chat_histories/textuser/ff2ad281-84b0-4da6-82bc-94b02f760bca.json
  backend/chatbot_model.py
  backend/history_chain.py
  backend/tone_chain.py
  backend/topic_chain.py
Due: langserve-img

Completed merge request from backend-testing
  backend/api_test.py
  backend/chat_histories/textuser/55dd1aa3-157c-45b3-9d8c-bf20a5fdcdb8.json
Due: langserve-img

added personas to new chain
  backend/personas.py
  backend/topic_chain.py
Due: langserve-img

Added language detection chain for LLM
  backend/api.py
  backend/api_test.py
  backend/chat_histories/textuser/530b1531-f8aa-4834-a115-76e4cffee7f2.json
  backend/chat_histories/textuser/8145b865-8084-4876-8217-9240ad9f3d40.json
  backend/chat_histories/textuser/e2df932b-d9be-4fea-9cc0-4d0ef784e9e7.json
  backend/history_chain.py
  backend/language_chain.py
  backend/topic_chain.py
Due: langserve-img

Update backend
  backend/.gitignore
  backend/api.py
  backend/history_chain.py
Due: langserve-img

Update langchain
  project/composables/useLangChain.ts
Due: frontend-img

add avatars to messages
  project/components/Chatbot.vue
  project/components/MessageBubble.vue
Due: frontend-img

rag version 1
  backend/rag.py
  backend/requirements.txt
Due: langserve-img

fix burger menu, improve UI and change text in hero section
  project/components/Chatbot.vue
  project/components/HeroContent.vue
Due: frontend-img

delete Russia
  project/auxillary/flags.ts
  project/auxillary/representants.ts
Due: frontend-img

Added country selection prompt and return in response from LLM
  backend/api.py
  backend/api_test.py
  backend/history_chain.py
  backend/personas.py
  backend/topic_chain.py
Due: langserve-img

Add fix
  project/components/Chatbot.vue
Due: frontend-img

delete logo from hero section and add submit button to the chatbot textfield
  project/components/Chatbot.vue
  project/components/HeroContent.vue
Due: frontend-img

Added english parameter to prompt for tag language
  backend/topic_chain.py
Due: langserve-img

Path conditions:
  chatbot-img: any of: chatbot/*, chatbot/*/**
  chatbot-rag-img: any of: chatbot-rag/*, chatbot-rag/*/**
  langserve-img: any of: backend/*, backend/*/**
  frontend-img: any of: project/*, project/*/**
