Repository Unvares/baltic-persepctives-ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kira-ui-img, indexer-img

.gitlab-ci.yml:

image: 'thlmylab/swakkd:stable'

stages:
- prepare
- build
- deploy
- expose

secrets:
    stage: prepare
    script:
    - kubectl delete secret gitlab-registry-$CI_PROJECT_ID || true
    - >
      kubectl create secret docker-registry gitlab-registry-$CI_PROJECT_ID
      --docker-server=$CI_REGISTRY
      --docker-username=image-registry
      --docker-password=$CI_REGISTRY_TOKEN

volumes:
  stage: prepare
  script:
  - cd deploy
  - kubectl apply -f demo-pvc.yaml

kira-ui-img:
  stage: build
  image: docker:24
  services: ["docker:24-dind"]
  only:
    changes:
    - kira-ui/*
    - kira-ui/*/**
    - .gitlab-ci.yml
  script:
  - cd kira-ui
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/kira:latest .
  - docker push $CI_REGISTRY_IMAGE/kira:latest

indexer-img:
  stage: build
  image: docker:24
  services: ["docker:24-dind"]
  only:
    changes:
    - indexer/*
    - indexer/*/**
    - .gitlab-ci.yml
  script:
  - cd indexer
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/indexer:latest .
  - docker push $CI_REGISTRY_IMAGE/indexer:latest

kira-ui:
  stage: deploy
  script:
  - cd deploy
  - mo kira-ui-dep+svc.yaml | kubectl delete -f - || true
  - mo kira-ui-dep+svc.yaml | kubectl apply -f -

indexer:
  stage: deploy
  script:
  - cd deploy
  - mo index-job.yaml | kubectl delete -f - || true
  - mo index-job.yaml | kubectl apply -f -

ingress:
    stage: expose
    script:
    - cd deploy
    - mo project-ing.yaml | kubectl apply -f -

Added resource limits to both pods
  deploy/index-job.yaml
  deploy/kira-ui-dep+svc.yaml
Due: none

Added README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Update
  README.md
Due: none

Update
  indexer/indexer.py
Due: indexer-img

Add new directory
  notebooks/.gitkeep
Due: none

Add new file
  notebooks/getting-started.ipynb
Due: none

Added gitignore + getting-started
  .gitignore
  notebooks/getting-started.ipynb
Due: none

Update file .gitignore
  .gitignore
Due: none

Delete .DS_Store
  .DS_Store
Due: none

Update file main.py
  kira-ui/main.py
Due: kira-ui-img

Prepare for Baltic Hackathon 2024
  .gitlab-ci.yml
Due: kira-ui-img, indexer-img

Prepapre for Baltic Hackathon 2024
  chatbot/Dockerfile
  chatbot/chatbot.py
  chatbot/requirements.txt
  deploy/chatbot-dep+svc.yaml
  deploy/index-job.yaml
  deploy/project-ing.yaml
  examples/requirements.txt
  indexer/Dockerfile
  indexer/indexer.py
  indexer/requirements.txt
  kira-ui/Dockerfile
  kira-ui/main.py
  kira-ui/requirements.txt
  notebooks/examples.ipynb
  notebooks/hello-world.py
  notebooks/touristic-summary.py
  notebooks/translator.py
Due: kira-ui-img, indexer-img

examples-chatbot
  notebooks/examples-chatbot.ipynb
  notebooks/examples.ipynb
  notebooks/hello-world.py
  notebooks/touristic-summary.py
  notebooks/translator.py
Due: none

Added hello world
  chatbot/hello_world.py
Due: none

fix
  examples/requirements.txt
Due: none

Fix
  chatbot/Dockerfile
Due: none

Update
  README.md
  deploy/project-ing.yaml
Due: none

Fix port
  deploy/chatbot-dep+svc.yaml
Due: none

chatbot-rag deploy prepare
  .gitlab-ci.yml
  deploy/chatbot-rag-dep+svc.yaml
Due: kira-ui-img, indexer-img

Update
  chatbot-rag/Dockerfile
  chatbot-rag/build-knowledge-base.py
  chatbot-rag/chatbot.py
  chatbot-rag/requirements.txt
Due: none

Chatbot-rag
  .gitlab-ci.yml
  deploy/chatbot-rag-dep+svc.yaml
Due: kira-ui-img, indexer-img

Fix volumes
  deploy/chatbot-dep+svc.yaml
  deploy/chatbot-rag-dep+svc.yaml
Due: none

Trigger manual
  .gitlab-ci.yml
Due: kira-ui-img, indexer-img

secret handling
  .gitlab-ci.yml
  chatbot-rag/chatbot.py
  deploy/chatbot-rag-dep+svc.yaml
Due: kira-ui-img, indexer-img

API KEY handling
  chatbot-rag/build-knowledge-base.py
Due: none

Fix api-secrets
  .gitlab-ci.yml
Due: kira-ui-img, indexer-img

chatbot build with openai key
  .gitlab-ci.yml
  chatbot-rag/Dockerfile
Due: kira-ui-img, indexer-img

Fix env handling
  chatbot-rag/Dockerfile
Due: none

next try
  .gitlab-ci.yml
Due: kira-ui-img, indexer-img

Update
  chatbot-rag/chatbot.py
Due: none

template
  .gitlab-ci.yml
  chatbot-rag/chatbot.py
Due: kira-ui-img, indexer-img

Update
  .gitlab-ci.yml
Due: kira-ui-img, indexer-img

Optimize pipeline
  .gitlab-ci.yml
Due: kira-ui-img, indexer-img

Added good vs bad news
  notebooks/good-vs-bad-news.ipynb
Due: none

Add good news links
  notebooks/good-vs-bad-news.ipynb
Due: none
