Repository Unvares/baltic-persepctives-ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chatbot-img, chatbot-rag-img, langserve-img, frontend-img

chatbot-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd chatbot
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/chatbot:latest .
  - docker push $CI_REGISTRY_IMAGE/chatbot:latest

chatbot-rag-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd chatbot-rag
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --build-arg EMBEDDING_EP=$EMBEDDING_EP -t $CI_REGISTRY_IMAGE/chatbot-rag:latest .
  ...

langserve-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd backend
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --build-arg API_KEY=$API_KEY -t $CI_REGISTRY_IMAGE/langserve:latest .
  - docker push $CI_REGISTRY_IMAGE/langserve:latest

frontend-img:
  stage: build
  image: docker:24
  services:
  - docker:24-dind
  script:
  - cd project
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build --build-arg EMBEDDING_EP=$EMBEDDING_EP -t $CI_REGISTRY_IMAGE/frontend:latest .
  - docker push $CI_REGISTRY_IMAGE/frontend:latest

change cursor to defalut for inactive submit button and increase the button in size
  project/components/Chatbot.vue
Due: frontend-img

Add fast push
  project/auxillary/flags.ts
  project/auxillary/representants.ts
  project/components/Chatbot.vue
Due: frontend-img

Finish group-chat
  project/auxillary/representants.ts
  project/components/Chatbot.vue
  project/components/MessageBubble.vue
  project/types.ts
  project/utils/parseResponse.ts
Due: frontend-img

Add RAG
  backend/api.py
  backend/api_test.py
  backend/history_chain.py
  backend/rag.py
Due: langserve-img

fixed after merge
  backend/api.py
  backend/api_test.py
  backend/history_chain.py
Due: langserve-img

requirements fix
  backend/requirements.txt
Due: langserve-img

Added default country for decision.
  backend/topic_chain.py
Due: langserve-img

fix loading
  project/components/Chatbot.vue
  project/components/MessageBubble.vue
Due: frontend-img

implement loading
  project/assets/images/loading.svg
  project/components/Chatbot.vue
Due: frontend-img

Cleaned imports and fixed requirements.txt with new imports needed.
  backend/api.py
  backend/api_test.py
  backend/history_chain.py
  backend/rag.py
  backend/requirements.txt
  backend/tone_chain.py
  backend/topic_chain.py
Due: langserve-img

Added wikipedia import to requirements.txt
  backend/requirements.txt
Due: langserve-img

add sidebar
  project/app.vue
  project/components/Chatbot.vue
  project/components/Drawer.vue
  project/public/representants/denmark-representant.webp
  project/public/representants/estonia-representant.webp
  project/public/representants/finland-representant.webp
  project/public/representants/germany-representant.webp
  project/public/representants/iceland-representant.webp
  project/public/representants/latvia-representant.webp
  project/public/representants/lithuania-representant.webp
  project/public/representants/norway-representant.webp
  project/public/representants/poland-representant.webp
  project/public/representants/russia-representant.webp
  project/public/representants/sweden-representant.webp
  project/stores/chatbotStore.ts
Due: frontend-img

fix loading for group chat
  project/components/Chatbot.vue
  project/components/MessageBubble.vue
  project/composables/useLangChain.ts
  project/public/representants/none-representant.webp
  project/types.ts
  project/utils/parseResponse.ts
Due: frontend-img

Added max tokens and fixed a bug where providing a topic without content of the same topic it chooses the wrong or none topic.
  backend/api.py
  backend/api_test.py
  backend/chatbot_model.py
  backend/topic_chain.py
Due: langserve-img

fix url
  project/composables/useLangChain.ts
Due: frontend-img

Added a sum up and conversation prompt addon.
  backend/chatbot_model.py
  backend/history_chain.py
Due: langserve-img

rag fixed
  backend/rag.py
Due: langserve-img

Cleaned imports and fixed requirements.txt with new imports needed.
  backend/requirements.txt
Due: langserve-img

Added max tokens and fixed a bug where providing a topic without content of the same topic it chooses the wrong or none topic.
  backend/chatbot_model.py
Due: langserve-img

Make mobile view
  project/app.vue
  project/components/Chatbot.vue
  project/components/HeroSection.vue
  project/components/MessageBubble.vue
Due: frontend-img

Added markdown removal and a be short sentence instead of max_tokens.
  backend/history_chain.py
Due: langserve-img

Removed max_tokens.
  backend/chatbot_model.py
Due: langserve-img

Final preprompt
  project/auxillary/preprompt-history.ts
  project/components/Chatbot.vue
  project/stores/chatbotStore.ts
Due: frontend-img

Add MIT License to the project
  LICENSE
Due: none

Path conditions:
  chatbot-img: any of: chatbot/*, chatbot/*/**
  chatbot-rag-img: any of: chatbot-rag/*, chatbot-rag/*/**
  langserve-img: any of: backend/*, backend/*/**
  frontend-img: any of: project/*, project/*/**
